<div class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="icon">
       <i class="fa-solid fa-video"></i>
    </div>

    <div class="navbar-buttons">
      <%= link_to "My lists", lists_path %>
      <%= link_to "New list", new_list_path %>
    </div>
  </div>
</div>

<div class="movie-banner">
  <h1>Create your own movie lists</h1>
  <h4>Organize, review, and much more.</p>
</div>
