<div class="footer">
  <div class="footer-logo">
    <img class="logo" src="<%= asset_path('logo.png') %>" alt="logo">
  </div>

  <div class="footer-body">
    <div class="footer-links">
      <a href="#">Terms and Privacy Notice</a>
      <a href="#">FAQ</a>
      <a href="#">Send us feedback</a>
    </div>
    <p>© 2023 Film Experts, B.V.</p>
  </div>

</div>
