<div class="footer">
  <div class="footer-logo">
    <%= image_tag "logo.png", alt: "logo", class: "logo" %>
  </div>

  <div class="footer-body">
    <div class="footer-links">
      <a href="#">Terms and Privacy Notice</a>
      <a href="#">FAQ</a>
      <a href="#">Send us feedback</a>
    </div>
    <p>© 2023 Film Experts, B.V.</p>
  </div>
</div>
