<div class="navbar">
  <div class="container-fluid">
    <a class="icon" href="<%= lists_path %>">
      <%= image_tag "logo.png", alt: "logo", class: "logo" %>
    </a>

    <div class="navbar-buttons">
      <%= link_to "My lists", lists_path, class: "button-lists" %>
      <%= link_to "New list", new_list_path %>
    </div>
  </div>
</div>
