.movie-genres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.genre-checkbox {
  position: relative;
  margin: 10px;
  font-weight: bolder;
}

.submit-button {
  margin-left: 10px;
  margin-top: 20px;

  .btn-danger {
    color: white;
    font-weight: bold;
  }

  .btn-danger:hover {
    color: black;
  }
}

.form-container {
  h4 {
    margin: 10px;
  }
}

.hidden-checkbox {
  display: none;
}

.genre-box {
  width: 100px;
  height: 70px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.genre-box:hover {
  transform: scale(1.1);
  border-color: red;
  color: red;
}

.genre-box.selected {
  background-color: $red;
  transition: 0.3s;
  color: #fff;
}
