.movie-search {
  display: flex;
  justify-content: space-between;
  margin: 3rem !important;

  .list-title {
    color: white;

    h2 {
      font-weight: 900;
      text-shadow:
        1px 1px red,
        3px 3px rgb(14, 14, 143);
    }
  }

  .add-movie-button {
    display: flex;
    align-items: center;

    .btn-danger {
      font-weight: 900;
      color: white;
    }
  }
}
