.navbar {
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #1d1c1c;

  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }

  a:hover {
    color: red;
    transition: 0.3s;
  }

  .button-lists {
    margin-right: 15px;
    color: white;
  }
}
